body {
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    }

section {
    width: 100%;
    margin: 0 auto;
    }
/* HEADER */
header {
    background: url(logo.png);
    background-size: 300px 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    width: 100%;
    height: 160px;
    }
/* NAV */
nav {
    text-align: left;
    float: left;
    width: 10%;
    padding: 1%;
	background-color: #dddddd;
    border-radius: 10px;
    margin-bottom: 1%;
    }
/* links inside NAV */
nav a {
    color: #000000;
	text-decoration: none;
    }
/* hovering links inside NAV */
nav a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    }
/* CONTENT - the application container (<%= yield %>) */
#content {
    text-align: justify;
    float: left;
    width: 61%;
    margin: 0 1%;
    border: 1px solid #dddddd;
    padding: 0 1%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 1%;
    }
/* images inside the CONTENT */
#content img {
    border: 1px solid #000000;
    }
/* SEARCHING */
#searching {
    float: right;
    width: 20%;
    padding: 0 1%;
	background-color: #dddddd;
    border-radius: 10px;
    margin-bottom: 1%;
    }
/* CART and ADMIN*/
#cart {
    float: right;
    width: 20%;
    padding: 1%;
	background-color: #dddddd;
    border-radius: 10px;
    margin-bottom: 1%;
    }
/* class for links inside ADMIN */
.admin-area a {
    color: #000000;
	text-decoration: none;
    }
/* class for hovering links inside ADMIN */
.admin-area a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    }
/* FOOTER */
footer {
    text-align: center;
    clear: both;
    width: 100%;
	background-color: #dddddd;
    border-radius: 10px;
    }
/* some padding and alignment for tables */
td, th {
    padding: 0 10px 0 10px;
    vertical-align: top;
    text-align: justify;
    }
/* class to remove padding */
.no-padding {
    padding: 0;
    }
/* class to align on the bottom */
.align-bottom {
    vertical-align: bottom;
    }
/* class to align on the right */
.align-right {
    text-align: right;
    }
/* flash and errors */
/* success message called by controllers */
.success {
    text-align: center;
    margin-bottom: 5px;
    background:#dddddd;
    color: #34b829;
    border-color:#000000;
    border-radius: 10px;
    }
/* error message called by controllers */
.error {
    text-align: center;
    margin-bottom: 5px;
    background:#dddddd;
    color:#ff3333;
    border-color:#ff3333;
    border-radius: 10px;
    }
/* error explanation for forms, when it is not successfully submitted */
#error_explanation {
    width: 400px;
    border: 2px solid #ff3333;
    margin-bottom: 20px;
    background-color: #cccccc;
    }
/* field with errors in the form */
.field_with_errors {
    background-color: #ff3333;
    display: table;
    }
/* label with errors in the form */
.field_with_errors label {
    color: #ff3333;
    background-color: #ffffff;
    }
/* class showme will display when hovering the class showhim */
.showme {
    display: none;
    position: absolute;
    margin-left: 20px;
    margin-top: -30px;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    }
/* showme change from display none to display block when hovering showhim */
.showhim:hover .showme {
    display: block;
	}
/* the mouse will be a pointer when hovering */
.showhim {
    cursor: pointer;
    }
/* float left - used in the header */
.floatleft {
    color: #dddddd;
    float: left;
}
/* float right - used in the header */
.floatright {
    color: #dddddd;
    float: right;
    text-align: right;
}