<p>This page is part of an assignment for Web Based Enterprise Services (CI3540) at Kingston University.<br />
It is not a real E-commerce!!!</p>
<% #link to validate the CSS as CSS3. HTML5 is not 100% standardised, for this reason I didn't include link to validate it %>
<p>
  <%= link_to (image_tag "http://jigsaw.w3.org/css-validator/images/vcss-blue"), "http://jigsaw.w3.org/css-validator/check/referer?profile=css3", :target => "_blank" %>
</p>