<div class="floatleft">
  <h2>Kingston University</h2>
  <h3>CI3540 - Web Based Enterprise Services</h3>
  <h4>Coursework: E-commerce application</h4>
  <h4>It is not a real E-commerce!</h4>
</div>
<div class="floatright">
  <h4>Created by:</h4>
  <h2>Gabriel Delucis Hilal</h2>
  <h3>K0935109</h3>
  <h4>It is not a real E-commerce!</h4>
</div>
